.flex-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-content: center;
  padding: 35px 0;
  gap: 15px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.cards {
  display: flex;
  flex-wrap: wrap;
}

.flex-container-one {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.card-one {
  width: calc(100% - 10px);
  max-width: 220px;
}
.card-two {
  width: calc(100% - 10px);
  max-width: 320px;
}

.card-one img {
  width: 100%;
  height: auto;
}

.card-one p {
  margin: 10px 0;
}

.btn-one {
  margin-top: 15px;
}
