/* header , navbar */

header {
  background-color: var(--grey-300);
  height: 43px;
  position: sticky;
  top: 0px;
  left: 0px;
  width: 100%;
  box-sizing: border-box;
  z-index: 100;
}
.navbar {
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 69%;
  margin: 0 auto;
  font-size: smaller;
}

.secondary-navbar {
  align-items: center;
  justify-content: center;
  gap: 50px;
  height: 69%;
  margin: 0 auto;
  background-color: var(--white);
  height: 43px;
  border-bottom: 1px solid var(--grey-500);
  font-weight: 600;
  font-size: 10px;
  text-transform: uppercase;
  color: var(--seconday-text);
}

.secondar-navbar > p {
  font-size: 10px;
}

.input {
  padding: 8px;
  width: 350px;
  border: 1px var(--blue-900) solid;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 10px;
  text-align: center;
}
.search {
  background: var(--blue-900);
  position: relative;
  color: var(--white);
  right: 20px;
  padding: 6.5px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/*  nav02 */

.anchor {
  display: flex;
  align-items: center;
  height: 100%;
  min-width: 90px;
  padding: 0 10px;
  justify-content: center;
  text-decoration: none;
  color: inherit;
}

.active-item {
  border-top: 2px solid var(--blue-500);
  color: var(--blue-500);
  background: var(--white);
}

.fa-chevron-down {
  font-size: 7px;
}
/*  */
